.signup-container {
    max-width: 80vw;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.8);
    margin-bottom: 100px;
    margin-top: 100px;
  }
  .signup-page {
    background-image: url('https://media.sproutsocial.com/uploads/2023/09/12-ways-to-use-social-media-for-education-V2-FINAL.svg');
    background-size: cover;
    background-position: center;
    height: 100vh; /* This ensures that the background image covers the entire viewport height */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .signup-heading {
    margin-bottom: 20px;
    text-align: center;
    width:100%;
    font-size: 4rem;
    font-weight: 700;
    font-family: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
    color: deepskyblue;
  }
  
  

  .form-group {
    margin-bottom: 20px;
   

  }
  
  label {
    display: block;
    font-weight: bold;
  }
  
  .form-control {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .signup-button {
    width: 40%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #0077b5;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    justify-content: center;
  }
  
  .signup-button:hover {
    background-color: #004471;
  }
  
