.profile-page {
  
  display: flex;
  flex-direction: row;
  justify-content: center;
  vertical-align: middle;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 50px;
  
}

.profile-container {
    display: flex;
    max-width: 1200px;
    border-width: 8px;
    border-color:cadetblue;
    border-radius: 10px;
  }
  
  .profile-sidebar {
    flex: 1;
    background-color: #f4f4f4;
    padding-left: 30px;
  }
  
  .photo img {
    margin-top : 50px;
    width: 500px;
    height: 250px;
    border-radius: 50%;
  }

  .profile-content {
    flex: 3;
    padding: 20px;
    margin-left: 30px;
  }
  
  .profile-header {
    margin-bottom: 20px;
    text-align:center;
  }
  
  .profile-header h1 {
    font-size: 24px;
    margin-bottom: 5px;
    text-align:center;
  }
  
  .profile-header h2 {
    font-size: 24px;
    margin-bottom: 10px;
    text-align:center;
  }
  
  .profile-text h2{
    margin-top: 10px;
    font-size: 24px;
    margin-bottom: 15px;
    text-align:center;
  }
  
