.answer-page{
    display: flex;
    justify-content: center;
    background-image: url('https://media.sproutsocial.com/uploads/2023/09/12-ways-to-use-social-media-for-education-V2-FINAL.svg');

}
.ans-container {
    margin: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    margin-top: 60px;
  }
  
  .ans-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
  }
  
  .title {
    font-size: 1.5rem;
    margin-bottom: 5px;
  }
  
  .author {
    font-style: italic;
    margin-bottom: 5px;
  }
  
  .like-dislike button {
    margin-right: 10px;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    margin-left : 60px;
  }
  
  .like-dislike button:hover {
    background-color: #0056b3;
  }
  
  .answer-list {
    margin-bottom: 20px;
  }
  
  .submit-answer input[type="text"] {
    width: calc(100% - 100px);
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
  }
  
  .submit-answer button {
    padding: 8px 20px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
  }
  
  .submit-answer button:hover {
    background-color: #0056b3;
  }
  
