.chatbox {
  display: flex;
  justify-content: center;
  margin-bottom: 100px;
  margin-top: 100px;
}

.chat-container {
  width: 1000px;
  height: 600px;
  border: 1px solid #ddd;
  border-radius: 10px;
  overflow: hidden;
  font-family: Arial, sans-serif;
}

.header {
  color: #fff;
  padding: 10px;
  text-align: center;
  font-weight: bold;
}

.chat-messages {
  height: 450px;
  overflow-y: scroll;
  padding: 25px;
  overflow-x: hidden;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: flex-start;
}

.message {
  margin-bottom: 10px;
  width: 100%;
}

#you {
  display: flex;
  flex-direction: row;
  vertical-align: middle;
  justify-content: flex-end;
  align-items: center;
}

#other {
  justify-content: flex-end;
}
#youauthor {
  display: flex;
  flex-direction: row;
  vertical-align: middle;
  justify-content: flex-end;
  align-items: center;
}

#otherauthor {
  justify-content: flex-end;
}

#youContent {
  background-color: aquamarine;
}

#otherContent {
  background-color: rgb(123, 199, 123);
}

.author {
  font-weight: bold;
  color: #075e54;
  width: 100%;
  text-align: right;
}

.content {
  padding: 8px 12px;
  border-radius: 10px;
  display: inline-block;
  max-width: 150px;
  
}

.timestamp {
  font-size: 12px;
  color: #999;
  margin-left: 10px;
}

.footer {
  display: flex;
  align-items: center;
  padding: 10px;
  border-top: 1px solid #ddd;
}

.input-field {
  flex: 1;
  padding: 8px;
  border: none;
  border-radius: 20px;
  outline: none;
  color: #000;
}
#send-button {
  background-color: #075e54;
  color: #fff;
  border: none;
  border-radius: 10px;
  width: 100px;
  height: 40px;
  margin-left: 10px;
  cursor: pointer;
}


